In [1]:
import pandas as pd

In [2]:
datas=pd.read_csv("insurance_pre.csv")

In [3]:

datas

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
datas=pd.get_dummies(datas)

In [5]:
datas

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes
0,19,27.900,0,16884.92400,1,0,0,1
1,18,33.770,1,1725.55230,0,1,1,0
2,28,33.000,3,4449.46200,0,1,1,0
3,33,22.705,0,21984.47061,0,1,1,0
4,32,28.880,0,3866.85520,0,1,1,0
...,...,...,...,...,...,...,...,...
1333,50,30.970,3,10600.54830,0,1,1,0
1334,18,31.920,0,2205.98080,1,0,1,0
1335,18,36.850,0,1629.83350,1,0,1,0
1336,21,25.800,0,2007.94500,1,0,1,0
1337,61,29.070,0,29141.36030,1,0,0,1

In [6]:
datas.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_female', 'sex_male',
       'smoker_no', 'smoker_yes'],
      dtype='object')

In [7]:
independent=datas[['age', 'bmi', 'children','sex_female', 'sex_male',
       'smoker_no', 'smoker_yes']]

In [8]:
dependent=datas[['charges']]

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [13]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
param_grid={'criterion':['mse','mae'],'max_features':['auto','sqrt','log2'],'n_estimators':[10,100]}
grid=GridSearchCV(RandomForestRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)
#
grid.fit(x_train,y_train)

Fitting 3 folds for each of 12 candidates, totalling 36 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:   10.6s
[Parallel(n_jobs=-1)]: Done  34 out of  36 | elapsed:   14.3s remaining:    0.7s
[Parallel(n_jobs=-1)]: Done  36 out of  36 | elapsed:   14.7s finished
C:\Users\admin\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:715: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=RandomForestRegressor(bootstrap=True, criterion='mse',
                                             max_depth=None,
                                             max_features='auto',
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators='warn', n_jobs=None,
                                             oob_score=False, random_state=None,
                                             verbose=0, warm_start=False),
             iid='warn', n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [16]:
re=grid.cv_results_
print("The R_SCORE value for best parameter{}:".format(grid.best_params_),r_score)

The R_SCORE value for best parameter{'criterion': 'mse', 'max_features': 'log2', 'n_estimators': 100}: 0.8666878182745609

In [14]:
y_predict=grid.predict( x_test)

In [17]:
table=pd.DataFrame.from_dict(re)

In [18]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.102420,0.060246,0.007286,0.000491,mse,auto,10,"{'criterion': 'mse', 'max_features': 'auto', '...",0.789804,0.811738,0.786375,0.795973,0.011236,6
1,0.598399,0.095837,0.032080,0.004391,mse,auto,100,"{'criterion': 'mse', 'max_features': 'auto', '...",0.807045,0.802081,0.795057,0.801394,0.004918,5
2,0.236133,0.211487,0.007528,0.001579,mse,sqrt,10,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.783123,0.772085,0.792509,0.782572,0.008347,12
3,0.366021,0.019594,0.028923,0.004953,mse,sqrt,100,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.806433,0.804147,0.795919,0.802166,0.004515,4
4,0.132978,0.114728,0.006649,0.000470,mse,log2,10,"{'criterion': 'mse', 'max_features': 'log2', '...",0.810797,0.776531,0.794073,0.793801,0.013991,8
5,0.364691,0.028458,0.039731,0.003265,mse,log2,100,"{'criterion': 'mse', 'max_features': 'log2', '...",0.817070,0.808765,0.797295,0.807710,0.008108,1
6,0.297590,0.037219,0.008395,0.003231,mae,auto,10,"{'criterion': 'mae', 'max_features': 'auto', '...",0.789570,0.789467,0.787681,0.788906,0.000867,9
7,3.533547,0.045164,0.027293,0.006033,mae,auto,100,"{'criterion': 'mae', 'max_features': 'auto', '...",0.805637,0.787690,0.792952,0.795426,0.007533,7
8,0.264719,0.103923,0.018862,0.017403,mae,sqrt,10,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.782068,0.795857,0.778686,0.785537,0.007427,11
9,2.012504,0.061107,0.034022,0.019583,mae,sqrt,100,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.822696,0.809052,0.787470,0.806406,0.014502,2
10,0.375532,0.130202,0.006317,0.000470,mae,log2,10,"{'criterion': 'mae', 'max_features': 'log2', '...",0.814279,0.778892,0.768707,0.787293,0.019530,10
11,1.551730,0.155462,0.019732,0.001088,mae,log2,100,"{'criterion': 'mae', 'max_features': 'log2', '...",0.808201,0.812498,0.792257,0.804319,0.008708,3

In [19]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("sex Male 0 or 1:"))
smoker_yes_input=int(input("smoker Yes 0 or 1:"))

Age:25
BMI:33.652
Children:2
sex Male 0 or 1:0
smoker Yes 0 or 1:1

In [15]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_predict)

In [91]:
r_score

0.8713492023637529